@import '../constants/styles/color.json';
@import '../constants/styles/font-family.json';

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Black.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Bold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Condensed.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedBlack.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedBlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedMedium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedThin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-CondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensed.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedBlack.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedBlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedMedium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedThin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraCondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Italic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Light.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-LightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Medium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensed.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedBlack.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedBlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedMedium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedThin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-SemiCondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-Thin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Sans Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSansDisplay-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Black.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Bold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Condensed.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedBlack.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedBlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedMedium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedThin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-CondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensed.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedBlack.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedBlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedMedium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedThin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraCondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: extra-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Italic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Light.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-LightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Medium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensed.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedBlack.ttf') format('truetype');
}

@font-face {
	font-weight: 900;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedBlackItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedBold.ttf') format('truetype');
}

@font-face {
	font-weight: 700;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-weight: 800;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-weight: 200;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedLight.ttf') format('truetype');
}

@font-face {
	font-weight: 300;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedMedium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedThin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: semi-condensed;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-SemiCondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-Thin.ttf') format('truetype');
}

@font-face {
	font-weight: 100;
	font-family: 'Noto Serif Display';
	font-style: italic;
	font-stretch: normal;
	src: url('../../public/fonts/Noto-hinted/NotoSerifDisplay-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Mono';
	src: url('../../public/fonts/Noto-hinted/NotoMono-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: 300 700;
	font-family: 'Fira Code';
	src:
		url('../../public/fonts/Fira_Code_v5.2/woff2/FiraCode-VF.woff2') format('woff2-variations'),
		url('../../public/fonts/Fira_Code_v5.2/woff/FiraCode-VF.woff') format('woff-variations');
}

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) {
	color: $rebase0;
	background-color: $rebase03;

	* {
		color: $rebase0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $rebase1;
		border-color: $rebase0;
	}

	a,
	a:active,
	a:visited {
		color: $rebase1;
	}
}

@mixin accentize($accent) {
	a,
	a:active,
	a:visited,
	.url {
		color: $accent;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $accent;
	}
}

*,
.--dark {
	@include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
}

.--light {
	@include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
}

*,
.--sans-serif {
	font-family: $sansSerif, sans-serif;
}

.--serif {
	font-family: $serif, serif;
}

.--monospace {
	font-family: $monospace, monospace;
}

.--code {
	font-family: $code, monospace;
	font-feature-settings: 'ss01', 'ss02', 'ss04', 'ss05', 'ss06', 'ss07';
}
