@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css');
@import url('https://fonts.googleapis.com/css?family=Castoro');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../constant/style/color.json';
@import '../constant/style/font-family.json';

@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) {
	color: $rebase0;
	background-color: $rebase03;

	* {
		color: $rebase0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $rebase1;
		border-color: $rebase0;
	}

	a,
	a:active,
	a:visited {
		color: $rebase1;
	}
}

@mixin accentize($accent) {
	a,
	a:active,
	a:visited,
	.url {
		color: $accent;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: $accent;
	}
}

*,
.--dark {
	@include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3);
}

.--light {
	@include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03);
}

*,
.--sans-serif {
	font-family: $sansSerif, sans-serif;
}

.--monospace {
	font-family: $monospace, monospace;
}

.--serif {
	font-family: $serif, serif;
}
